body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    position: relative;
}
.content {
    position: relative;
    z-index: 1;
}
.welcome-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
}

h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #ff6600;
}

footer i {
    font-size: 14px;
    margin-right: 5px;
}
.ana-sayfa {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.bilgilendirme {
    flex: 1;
    margin-right: 20px;
}

.fotograf-kutucuk {
    width: 145px;
    height: 145px;
    border: 2px solid #333;
    border-radius: 50%;
    overflow: hidden;
}

.fotograf-yuvarlak img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fotograf-kutucuk h2 {
    text-align: center;
    margin: 10px 0;
}

.fotograf-kutucuk p {
    text-align: center;
    margin: 10px 0;
}
#closeWelcomeMessage {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
